<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="./dashboard.css">
    <title>Dashboard</title>
</head>
<body>    
    <div class="container">
        <header class="header">
            <div class="logo">
                <img src="./images/epl-logo.png" alt="" class="logo-img">
            </div>
            <div class="league-name">English Premier League</div>
        </header>
        <!-- points table -->
        <div class="wrapper">
            <div class="points-table">
                <div class="table-container">
                <!-- table heading -->
                <div class="table-heading">
                    <h3 class="entry table-rank">#</h3>
                    <h3 class="entry table-club">Club</h3>
                    <h3 class="entry table-played">P</h3>
                    <h3 class="entry table-won">W</h3>
                    <h3 class="entry table-draw">D</h3>
                    <h3 class="entry table-lost">L</h3>
                    <h3 class="entry table-for">GF</h3>
                    <h3 class="entry table-against">GA</h3>
                    <h3 class="entry table-diff">GD</h3>
                    <h3 class="entry table-pts">Pts</h3>
                </div>
                <!-- teams -->
                <div class="teams">
                    <h3 class="entry table-rank">1</h3>
                    <h3 class="entry table-club">Liverpool</h3>
                    <h3 class="entry table-played">10</h3>
                    <h3 class="entry table-won">10</h3>
                    <h3 class="entry table-draw">0</h3>
                    <h3 class="entry table-lost">0</h3>
                    <h3 class="entry table-for">32</h3>
                    <h3 class="entry table-against">6</h3>
                    <h3 class="entry table-diff">26</h3>
                    <h3 class="entry table-pts">30</h3>
                </div>
                <!-- teams -->
                <div class="teams">
                    <h3 class="entry table-rank">1</h3>
                    <h3 class="entry table-club">Liverpool</h3>
                    <h3 class="entry table-played">10</h3>
                    <h3 class="entry table-won">10</h3>
                    <h3 class="entry table-draw">0</h3>
                    <h3 class="entry table-lost">0</h3>
                    <h3 class="entry table-for">32</h3>
                    <h3 class="entry table-against">6</h3>
                    <h3 class="entry table-diff">26</h3>
                    <h3 class="entry table-pts">30</h3>
                </div>
                <!-- teams -->
                <div class="teams">
                    <h3 class="entry table-rank">1</h3>
                    <h3 class="entry table-club">Liverpool</h3>
                    <h3 class="entry table-played">10</h3>
                    <h3 class="entry table-won">10</h3>
                    <h3 class="entry table-draw">0</h3>
                    <h3 class="entry table-lost">0</h3>
                    <h3 class="entry table-for">32</h3>
                    <h3 class="entry table-against">6</h3>
                    <h3 class="entry table-diff">26</h3>
                    <h3 class="entry table-pts">30</h3>
                </div>
                <!-- teams -->
                <div class="teams">
                    <h3 class="entry table-rank">1</h3>
                    <h3 class="entry table-club">Liverpool</h3>
                    <h3 class="entry table-played">10</h3>
                    <h3 class="entry table-won">10</h3>
                    <h3 class="entry table-draw">0</h3>
                    <h3 class="entry table-lost">0</h3>
                    <h3 class="entry table-for">32</h3>
                    <h3 class="entry table-against">6</h3>
                    <h3 class="entry table-diff">26</h3>
                    <h3 class="entry table-pts">30</h3>
                </div>
                <!-- teams -->
                <div class="teams">
                    <h3 class="entry table-rank">1</h3>
                    <h3 class="entry table-club">Liverpool</h3>
                    <h3 class="entry table-played">10</h3>
                    <h3 class="entry table-won">10</h3>
                    <h3 class="entry table-draw">0</h3>
                    <h3 class="entry table-lost">0</h3>
                    <h3 class="entry table-for">32</h3>
                    <h3 class="entry table-against">6</h3>
                    <h3 class="entry table-diff">26</h3>
                    <h3 class="entry table-pts">30</h3>
                </div>
                <!-- teams -->
                <div class="teams">
                    <h3 class="entry table-rank">1</h3>
                    <h3 class="entry table-club">Liverpool</h3>
                    <h3 class="entry table-played">10</h3>
                    <h3 class="entry table-won">10</h3>
                    <h3 class="entry table-draw">0</h3>
                    <h3 class="entry table-lost">0</h3>
                    <h3 class="entry table-for">32</h3>
                    <h3 class="entry table-against">6</h3>
                    <h3 class="entry table-diff">26</h3>
                    <h3 class="entry table-pts">30</h3>
                </div>
                <!-- teams -->
                <div class="teams">
                    <h3 class="entry table-rank">1</h3>
                    <h3 class="entry table-club">Liverpool</h3>
                    <h3 class="entry table-played">10</h3>
                    <h3 class="entry table-won">10</h3>
                    <h3 class="entry table-draw">0</h3>
                    <h3 class="entry table-lost">0</h3>
                    <h3 class="entry table-for">32</h3>
                    <h3 class="entry table-against">6</h3>
                    <h3 class="entry table-diff">26</h3>
                    <h3 class="entry table-pts">30</h3>
                </div>
                <!-- teams -->
                <div class="teams">
                    <h3 class="entry table-rank">1</h3>
                    <h3 class="entry table-club">Liverpool</h3>
                    <h3 class="entry table-played">10</h3>
                    <h3 class="entry table-won">10</h3>
                    <h3 class="entry table-draw">0</h3>
                    <h3 class="entry table-lost">0</h3>
                    <h3 class="entry table-for">32</h3>
                    <h3 class="entry table-against">6</h3>
                    <h3 class="entry table-diff">26</h3>
                    <h3 class="entry table-pts">30</h3>
                </div>
                <!-- teams -->
                <div class="teams">
                    <h3 class="entry table-rank">1</h3>
                    <h3 class="entry table-club">Liverpool</h3>
                    <h3 class="entry table-played">10</h3>
                    <h3 class="entry table-won">10</h3>
                    <h3 class="entry table-draw">0</h3>
                    <h3 class="entry table-lost">0</h3>
                    <h3 class="entry table-for">32</h3>
                    <h3 class="entry table-against">6</h3>
                    <h3 class="entry table-diff">26</h3>
                    <h3 class="entry table-pts">30</h3>
                </div>
                <!-- teams -->
                <div class="teams">
                    <h3 class="entry table-rank">1</h3>
                    <h3 class="entry table-club">Liverpool</h3>
                    <h3 class="entry table-played">10</h3>
                    <h3 class="entry table-won">10</h3>
                    <h3 class="entry table-draw">0</h3>
                    <h3 class="entry table-lost">0</h3>
                    <h3 class="entry table-for">32</h3>
                    <h3 class="entry table-against">6</h3>
                    <h3 class="entry table-diff">26</h3>
                    <h3 class="entry table-pts">30</h3>
                </div>
                <!-- teams -->
                <div class="teams">
                    <h3 class="entry table-rank">1</h3>
                    <h3 class="entry table-club">Liverpool</h3>
                    <h3 class="entry table-played">10</h3>
                    <h3 class="entry table-won">10</h3>
                    <h3 class="entry table-draw">0</h3>
                    <h3 class="entry table-lost">0</h3>
                    <h3 class="entry table-for">32</h3>
                    <h3 class="entry table-against">6</h3>
                    <h3 class="entry table-diff">26</h3>
                    <h3 class="entry table-pts">30</h3>
                </div>
                <!-- teams -->
                <div class="teams">
                    <h3 class="entry table-rank">1</h3>
                    <h3 class="entry table-club">Liverpool</h3>
                    <h3 class="entry table-played">10</h3>
                    <h3 class="entry table-won">10</h3>
                    <h3 class="entry table-draw">0</h3>
                    <h3 class="entry table-lost">0</h3>
                    <h3 class="entry table-for">32</h3>
                    <h3 class="entry table-against">6</h3>
                    <h3 class="entry table-diff">26</h3>
                    <h3 class="entry table-pts">30</h3>
                </div>
                <!-- teams -->
                <div class="teams">
                    <h3 class="entry table-rank">1</h3>
                    <h3 class="entry table-club">Liverpool</h3>
                    <h3 class="entry table-played">10</h3>
                    <h3 class="entry table-won">10</h3>
                    <h3 class="entry table-draw">0</h3>
                    <h3 class="entry table-lost">0</h3>
                    <h3 class="entry table-for">32</h3>
                    <h3 class="entry table-against">6</h3>
                    <h3 class="entry table-diff">26</h3>
                    <h3 class="entry table-pts">30</h3>
                </div>
                <!-- teams -->
                <div class="teams">
                    <h3 class="entry table-rank">1</h3>
                    <h3 class="entry table-club">Liverpool</h3>
                    <h3 class="entry table-played">10</h3>
                    <h3 class="entry table-won">10</h3>
                    <h3 class="entry table-draw">0</h3>
                    <h3 class="entry table-lost">0</h3>
                    <h3 class="entry table-for">32</h3>
                    <h3 class="entry table-against">6</h3>
                    <h3 class="entry table-diff">26</h3>
                    <h3 class="entry table-pts">30</h3>
                </div>
                <!-- teams -->
                <div class="teams">
                    <h3 class="entry table-rank">1</h3>
                    <h3 class="entry table-club">Liverpool</h3>
                    <h3 class="entry table-played">10</h3>
                    <h3 class="entry table-won">10</h3>
                    <h3 class="entry table-draw">0</h3>
                    <h3 class="entry table-lost">0</h3>
                    <h3 class="entry table-for">32</h3>
                    <h3 class="entry table-against">6</h3>
                    <h3 class="entry table-diff">26</h3>
                    <h3 class="entry table-pts">30</h3>
                </div>
                <!-- teams -->
                <div class="teams">
                    <h3 class="entry table-rank">1</h3>
                    <h3 class="entry table-club">Liverpool</h3>
                    <h3 class="entry table-played">10</h3>
                    <h3 class="entry table-won">10</h3>
                    <h3 class="entry table-draw">0</h3>
                    <h3 class="entry table-lost">0</h3>
                    <h3 class="entry table-for">32</h3>
                    <h3 class="entry table-against">6</h3>
                    <h3 class="entry table-diff">26</h3>
                    <h3 class="entry table-pts">30</h3>
                </div>
                <!-- teams -->
                <div class="teams">
                    <h3 class="entry table-rank">1</h3>
                    <h3 class="entry table-club">Liverpool</h3>
                    <h3 class="entry table-played">10</h3>
                    <h3 class="entry table-won">10</h3>
                    <h3 class="entry table-draw">0</h3>
                    <h3 class="entry table-lost">0</h3>
                    <h3 class="entry table-for">32</h3>
                    <h3 class="entry table-against">6</h3>
                    <h3 class="entry table-diff">26</h3>
                    <h3 class="entry table-pts">30</h3>
                </div>
                <!-- teams -->
                <div class="teams">
                    <h3 class="entry table-rank">1</h3>
                    <h3 class="entry table-club">Liverpool</h3>
                    <h3 class="entry table-played">10</h3>
                    <h3 class="entry table-won">10</h3>
                    <h3 class="entry table-draw">0</h3>
                    <h3 class="entry table-lost">0</h3>
                    <h3 class="entry table-for">32</h3>
                    <h3 class="entry table-against">6</h3>
                    <h3 class="entry table-diff">26</h3>
                    <h3 class="entry table-pts">30</h3>
                </div>
                <!-- teams -->
                <div class="teams">
                    <h3 class="entry table-rank">1</h3>
                    <h3 class="entry table-club">Liverpool</h3>
                    <h3 class="entry table-played">10</h3>
                    <h3 class="entry table-won">10</h3>
                    <h3 class="entry table-draw">0</h3>
                    <h3 class="entry table-lost">0</h3>
                    <h3 class="entry table-for">32</h3>
                    <h3 class="entry table-against">6</h3>
                    <h3 class="entry table-diff">26</h3>
                    <h3 class="entry table-pts">30</h3>
                </div>
                <!-- teams -->
                <div class="teams">
                    <h3 class="entry table-rank">1</h3>
                    <h3 class="entry table-club">Liverpool</h3>
                    <h3 class="entry table-played">10</h3>
                    <h3 class="entry table-won">10</h3>
                    <h3 class="entry table-draw">0</h3>
                    <h3 class="entry table-lost">0</h3>
                    <h3 class="entry table-for">32</h3>
                    <h3 class="entry table-against">6</h3>
                    <h3 class="entry table-diff">26</h3>
                    <h3 class="entry table-pts">30</h3>
                </div>
                </div>
            </div>
            <div class="stat-boxes">
            <!-- schedule  -->
                <div class="past schedule">
                    <div class="schedule-heading">
                        <h3>- Results -</h3>
                    </div>
                    <!-- schedule entry -->
                    <div class="schedule-entry">
                        <h3 class="team-one">Manchester United</h3>
                        <h3 class="result">vs.</h3>
                        <h3 class="team-two">Liverpool</h3>
                    </div>
                    <!-- schedule entry -->
                    <div class="schedule-entry">
                        <h3 class="team-one">Arsenal</h3>
                        <h3 class="result">vs.</h3>
                        <h3 class="team-two">Liverpool</h3>
                    </div>
                </div>
                <div class="future schedule">
                    <div class="schedule-heading">
                        <h3>- Upcoming Fixtures -</h3>
                    </div>

                </div>
            <!-- stats containers -->
                <div class="stat-container goals">
                <div class="stat-heading">
                    <h3>Top Scorers</h3>
                </div>
                <!-- entries -->
                <div class="stat-entry">
                    <h3>Van Persie</h3>
                    <h3>27</h3>
                </div>
                <!-- entries -->
                <div class="stat-entry">
                    <h3>Van Persie</h3>
                    <h3>27</h3>
                </div>
                <!-- entries -->
                <div class="stat-entry">
                    <h3>Van Persie</h3>
                    <h3>27</h3>
                </div>
                <!-- entries -->
                <div class="stat-entry">
                    <h3>Van Persie</h3>
                    <h3>27</h3>
                </div>
                <!-- entries -->
                <div class="stat-entry">
                    <h3>Van Persie</h3>
                    <h3>27</h3>
                </div>
                <!-- entries -->
                <div class="stat-entry">
                    <h3>Van Persie</h3>
                    <h3>27</h3>
                </div>
                <!-- entries -->
                <div class="stat-entry">
                    <h3>Van Persie</h3>
                    <h3>27</h3>
                </div>
                <!-- entries -->
                <div class="stat-entry">
                    <h3>Van Persie</h3>
                    <h3>27</h3>
                </div>
                <!-- entries -->
                <div class="stat-entry">
                    <h3>Van Persie</h3>
                    <h3>27</h3>
                </div>
                <!-- entries -->
                <div class="stat-entry">
                    <h3>Van Persie</h3>
                    <h3>27</h3>
                </div>
                <!-- entries -->
                <div class="stat-entry">
                    <h3>Van Persie</h3>
                    <h3>27</h3>
                </div>
                <!-- entries -->
                <div class="stat-entry">
                    <h3>Van Persie</h3>
                    <h3>27</h3>
                </div>
                </div>
                <!-- stats containers -->
                <div class="stat-container assists">
                <div class="stat-heading">
                    <h3>Assists</h3>
                </div>
                <!-- entries -->
                <div class="stat-entry">
                    <h3>Van Persie</h3>
                    <h3>27</h3>
                </div>
                <!-- entries -->
                <div class="stat-entry">
                    <h3>Van Persie</h3>
                    <h3>27</h3>
                </div>
                <!-- entries -->
                <div class="stat-entry">
                    <h3>Van Persie</h3>
                    <h3>27</h3>
                </div>
                <!-- entries -->
                <div class="stat-entry">
                    <h3>Van Persie</h3>
                    <h3>27</h3>
                </div>
                <!-- entries -->
                <div class="stat-entry">
                    <h3>Van Persie</h3>
                    <h3>27</h3>
                </div>
                </div>
                <!-- stats containers -->
                <div class="stat-container chances">
                <div class="stat-heading">
                    <h3>Chances Created</h3>
                </div>
                <!-- entries -->
                <div class="stat-entry">
                    <h3>Van Persie</h3>
                    <h3>27</h3>
                </div>
                <!-- entries -->
                <div class="stat-entry">
                    <h3>Van Persie</h3>
                    <h3>27</h3>
                </div>
                <!-- entries -->
                <div class="stat-entry">
                    <h3>Van Persie</h3>
                    <h3>27</h3>
                </div>
                <!-- entries -->
                <div class="stat-entry">
                    <h3>Van Persie</h3>
                    <h3>27</h3>
                </div>
                <!-- entries -->
                <div class="stat-entry">
                    <h3>Van Persie</h3>
                    <h3>27</h3>
                </div>
                </div>
                <!-- stats containers -->
                <div class="stat-container cleansheets">
                <div class="stat-heading">
                    <h3>Cleansheets</h3>
                </div>
                <!-- entries -->
                <div class="stat-entry">
                    <h3>Van Persie</h3>
                    <h3>27</h3>
                </div>
                <!-- entries -->
                <div class="stat-entry">
                    <h3>Van Persie</h3>
                    <h3>27</h3>
                </div>
                <!-- entries -->
                <div class="stat-entry">
                    <h3>Van Persie</h3>
                    <h3>27</h3>
                </div>
                <!-- entries -->
                <div class="stat-entry">
                    <h3>Van Persie</h3>
                    <h3>27</h3>
                </div>
                <!-- entries -->
                <div class="stat-entry">
                    <h3>Van Persie</h3>
                    <h3>27</h3>
                </div>
                </div>
            </div>
        </div>
    </div>
    <!-- scripts -->
    <script src="epl.js"></script>
</body>
</html>


