<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Premier League Stats Tracker</title>
    <link rel="stylesheet" href="../assets/css/styles.css">
    <!-- font-awesome -->
    <script src="https://kit.fontawesome.com/bcd5005408.js" crossorigin="anonymous"></script>
</head>

<body>
    <div class="container">
        <header class="header">
            <h3>StatsGuru</h3>
        </header>
        <div class="widget-container">
            <div class="widget" id="england">
                <a href="/league/epl">
                    <img src="../assets/images/england.png" alt="" class="image">
                </a>
            </div>
            <div class="widget" id="spain">
                <img src="../assets/images/spain.png" alt="" class="image">
            </div>
            <div class="widget" id="germany">
                <img src="../assets/images/germany.png" alt="" class="image">
            </div>
            <div class="widget" id="france">
                <img src="../assets/images/france.jpg" alt="" class="image">
            </div>
            <div class="widget" id="italy">
                <img src="../assets/images/italy.jpg" alt="" class="image">
            </div>
            <div class="widget" id="holland">
                <img src="../assets/images/dutch.png" alt="" class="image">
            </div>
        </div>
    </div>

    <!-- scripts -->
    <script src="../assets/js/home.js"></script>
</body>

</html>