<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Premier League Stats Tracker</title>
    <link rel="stylesheet" href="./styles.css">
</head>
<body>
    <div class="container">
        <header class="header">StatsGuru</header>
        <div class="widget-container">
            <div class="widget" id="england">
                <img src="./images/england.png" alt="" class="image">
            </div>
            <div class="widget" id="spain">
                <img src="./images/spain.png" alt="" class="image">
            </div>
            <div class="widget" id="germany">
                <img src="./images/germany.png" alt="" class="image">
            </div>
            <div class="widget" id="france">
                <img src="./images/france.jpg" alt="" class="image">
            </div>
            <div class="widget" id="italy">
                <img src="./images/italy.jpg" alt="" class="image">
            </div>
            <div class="widget" id="holland">
                <img src="./images/dutch.png" alt="" class="image">
            </div>
        </div>
    </div>

    <!-- scripts -->
    <script src="./app.js"></script>
</body>
</html>